<!DOCTYPE html>  <!-- Se comienza con !! y te sale mucho predeterminado -->
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- para que acepte diferentes caracteres -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- para que se adapte al tamaño del dispositivo -->
    
    <title>Mercado Liebre</title> <!-- es lo que aparece en la pestaña -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- para agregar la fuente -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!-- para enviar la fuente a la hora de estilos -->
    <script src="https://kit.fontawesome.com/6af0c695f5.js" crossorigin="anonymous"></script> <!-- para los iconos -->
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    

</head>
<body>
    <!-- <h1></h1> para poner El titulo de nuestro documento -->
    <header>
        <div class="logo-busqueda-subtituloHeader">
            <img class="logo" src="./images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            <!--
            <h2 class="barra-busqueda">Barra de búsqueda<i class="lupita fa-solid fa-magnifying-glass"></i></h2>
            -->
                <div class="barra-busqueda">
                    <input type="text" placeholder="Busqueda" required>
                    <div class="btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>      
                </div>
            <h2 class="subtituloHeader"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>
        
        <!-- <p></p> para poner un parrafo -->
        <!-- <p></p> para poner una lista ordenada 
        <ol>
            <li></li>
            <li></li>
            <li></li>
        </ol> -->

        <!-- Barra de navegación que posea las siguientes opciones: -->
        <div class="siteYlogin">
            <div class="site">
                <ul> <!-- para poner una lista sin orden -->
                    <li><a href="oferta">Ofertas</a></li>
                    <li><a href="tiendas">Tiendas Oficiales</a></li>
                    <li><a href="venta">Vender</a></li>
                    <li><a href="ayuda">Ayuda</a></li>
                </ul>
            </div>
            <div class="login-navbar">
                <ul>
                    <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                    <li><a href="http://www.OEFRTA.com">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>
        </div>

        
        <div class="burger-menu">
            <center><i class="fas fa-bars", style="background-color:#1259c3; color:#ebebeb; font-size: 2em; padding: 8px; border-radius: 20%; margin-bottom: 10px;"></i></center>
        </div>
    
    </header>
    
    <img class="banner" src="./images/img-home-banner.jpg" alt="Imagen Banner Mercado Liebre">
    
    <main>
        <section> 
            <h2 class="titulares">Basado en tu última vista</h2>
            <div class="caja-padre">
                <article class="tarjeta">
                    <img class="imagenes" src="./images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera">
                    <div class="descripcion">
                        <i class="icono fa-solid fa-truck"></i>
                        <h3 class="precios">$6.770</h3>
                        <h3 class="descuentos">40% OFF</h3>
                        <h3>Cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="tarjeta">
                    <img class="imagenes" src="./images/img-macbook-pro-2019.jpg" alt="Imagen MacBook">
                    <div class="descripcion">
                        <i class="icono fa-solid fa-truck"></i>
                        <h3 class="precios">$230.000</h3>
                        <h3 class="descuentos">20% off</h3>
                        <h3>MacBook Pro 2019</h3>
                    </div>
                </article>
                <article class="tarjeta">
                    <img class="imagenes" src="./images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy">
                    <div class="descripcion">
                        <i class="icono fa-solid fa-truck"></i>
                        <h3 class="precios">$70.500</h3>
                        <h3 class="descuentos">10% off</h3>
                        <h3>Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="tarjeta">
                    <img class="imagenes" src="./images/img-tv-samsung-smart.jpg" alt="Imagen SmarTv">
                    <div class="descripcion">
                        <i class="icono fa-solid fa-truck"></i>
                        <h3 class="precios">$23.200</h3>
                        <h3 class="descuentos">5% off</h3>
                        <h3>SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h2 class="titulares">Ofertas</h2>
            <div class="caja-padre">
                <article class="tarjeta">
                    <img class="imagenes" src="./images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera">
                    <div class="descripcion">
                        <i class="icono fa-solid fa-truck"></i>
                        <h3 class="precios">$6.770</h3>
                        <h3 class="descuentos">40% off</h3>
                        <h3>Cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="tarjeta">
                    <img class="imagenes" src="./images/img-macbook-pro-2019.jpg" alt="Imagen MacBook">
                    <div class="descripcion">
                        <i class="icono fa-solid fa-truck"></i>
                        <h3 class="precios">$230.000</h3>
                        <h3 class="descuentos">20% off</h3>
                        <h3>MacBook Pro 2019</h3>
                    </div>
                </article>
                <article class="tarjeta">
                    <img class="imagenes" src="./images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung">
                    <div class="descripcion">
                        <i class="icono fa-solid fa-truck"></i>
                        <h3 class="precios">$70.500</h3>
                        <h3 class="descuentos">10% off</h3>
                        <h3>Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="tarjeta">
                    <img class="imagenes" src="./images/img-tv-samsung-smart.jpg" alt="Imagen SmarTv">
                    <div class="descripcion">
                        <i class="icono fa-solid fa-truck"></i>
                        <h3 class="precios">$23.200</h3>
                        <h3 class="descuentos">5% off</h3>
                        <h3>SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer  class="pieDePagina">
        <div class="informacionFooter">
            <section>
                <i class="icono fa-solid fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <h3>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</h3>
            </section>
            <section>
                <i class="icono fa-solid fa-gift"></i>
                <h2>Envío gratis desde $ 2.500</h2>
                <h3>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</h3>
            </section>
            <section>
                <i class="icono fa-solid fa-user-shield"></i>
                <h2>Seguridad, de principio a fin</h2>
                <h3>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</h3>
            </section>
        </div>
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>




</body>
</html>